// page
.cr-page {
  &__header {
    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
    display: flex;
    align-items: flex-end;
    align-self: center;
  }

  &__title {
    @include media-breakpoint-down(sm) {
      margin-bottom: 0;
    }
    padding-right: .5rem;
    margin-bottom: 1rem;
  }

  &__breadcrumb {
    @include media-breakpoint-down(sm) {
      align-self: flex-start;
    }
    align-self: flex-end;
    padding: 0;
    text-transform: capitalize;
    background: theme-color("light");
  }

  .row {
    // stylelint-disable-next-line
    .col, > [class^="col-"] {
      margin-bottom: 1rem;
    }
  }
  .card-img-top{
    height: 270px;
  }
  .btn-custom{
    color: #fff;
    background: #00b5b5 linear-gradient(180deg, #00b5b5, #00b5b5) repeat-x;
    border-color: #00b5b5;
  }
  .btn-custom:hover {
    color: #fff;
    background: #0fb5b5 linear-gradient(180deg, #0fb5b5, #0fb5b5) repeat-x;
    border-color: #0fb5b5;
}
}
