@import "variables";

// libraries
@import "bootstrap/scss/bootstrap.scss";
@import "react-infinite-calendar/styles";

// base
@import "base";
@import "overrides";
@import "animations";
@import "utils/utils";

// components
@import "components/header";
@import "components/sidebar";
@import "components/content";
@import "components/page";
@import "components/widget";
@import "components/search-input";

// themes
@import "themes/colors";

// demos (only for demo pages)
@import "demos/demos";
