.header {
  display: block;
    margin-bottom: 10px;
    color: #5C6570;
    font-size: 16px;
    font-weight: 400;
    max-height: 325px;
}

.separator, .separator2 {
  width:100%;
  margin: 10px 0 10px 0;
  border:dashed 3px #ccc;
}

.separator2 {
  border:solid 3px #ccc;
}

.listing-summary > div {
  width: 50%;
  box-sizing: border-box;
  display:inline-block;
}

.listing-summary .titles {
  color: #87909A;
    font-size: 14px;
    font-weight: 500;
    font-family: Interstate,HelveticaNeue,Helvetica,Roboto,Segoe,Arial,Sans-Serif;
    margin-bottom: 10px;

}

.total-cont {
  text-align: right;
}
